allow system_server vendor_alarm_boot_prop:file { read open };

# smartcharging
allow system_server sysfs_battery_supply:file { getattr open read write };
